---
import Layout from '@/layouts/Layout.astro'
import PostListItem from '@/components/PostListItem.astro'
import { getPublishedPosts } from '@/utils/posts'

const posts = await getPublishedPosts()
---

<Layout title='研之有物 - 所有文章'>
  <main class='flex flex-col gap-20'>
    <h1 class='text-2xl text-neutral-100'>文章</h1>

    <article class='flex flex-col gap-4'>
      {
        posts.map((post) => <PostListItem post={post} />)
      }
    </article>
  </main>
</Layout>
