.post p {
  @apply leading-7 mb-5;
}

.post blockquote {
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
  }
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-orange-500;
}

.post h2 {
  @apply mt-8 text-3xl text-neutral-100 mb-6;
  color: var(--color-tertiary);
}

.post h3 {
  @apply mt-6 text-xl text-neutral-100 mb-4;
}

.post h4 {
  @apply mt-6  mb-4;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-red-500 mb-2 mt-4;
}

.post code .line:last-child:empty {
  display: none;
}

.post a {
  @apply text-neutral-100 underline;
}

.post ul {
  @apply list-disc;
  padding-left: 1rem;
}

.post blockquote {
  @apply flex flex-row gap-2 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-red-400 before:content-[''];
}

.post pre {
  @apply py-4 px-8 rounded-md;
  border: 1px solid hsl(210deg 10% 30%);
  background-color: transparent !important;
  margin-bottom: 20px;
}

.post pre > code {
  @apply bg-transparent;
}

.post table {
  @apply border-collapse border;
}

.post td,
.post th {
  @apply border px-3 py-1 border-slate-500;
}

.post ol {
  list-style-type: decimal;
  padding-left: 1rem;
  margin-bottom: 20px;
}
