---
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('../pages/posts/*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
console.warn(posts, JSON.stringify(posts))
---

<div class='warpper'>
  <div class='articles'>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>
              <span class='title'>
                {post.frontmatter.emoji} {post.frontmatter.title}
              </span>
              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString('zh-CN', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .warpper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .articles {
    flex: 1;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    inset: 0px;
    overflow: hidden auto;
    z-index: 10;
    transition: all 200ms ease-in-out 0s;
    border-radius: 0px;
    min-height: 50vh;
  }
  ul {
    list-style-type: none;
    padding: unset;
  }

  ul li {
    color: var(--theme-ui-colors-primary, white);
    box-sizing: border-box;
    min-width: 0px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: block;
    transition: all 200ms ease-in-out 0s;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
  }

  ul li:hover {
    background-color: var(--theme-ui-colors-codeBackground, hsl(285, 5%, 17%));
  }

  ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .title {
    box-sizing: border-box;
    line-height: 1.25;
    position: relative;
    font-size: 1rem;
    margin: 0px 1rem 0px 0px;
    font-weight: 700;
    color: var(--theme-ui-colors-textStrong, hsl(210, 38%, 98%));
    padding-left: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    min-width: 260px;
  }

  ul li time {
    box-sizing: border-box;
    margin: 0px 0px 0px 0.5rem;
    min-width: 0px;
    font-size: 0.7rem;
    color: var(--theme-ui-colors-text, hsl(210, 17%, 85%));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
