---
---

<div
  class='self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white gap-2 inline-flex items-center'
>
  <img src={'/avatar.webp'} title='研之有物' class='w-6 h-6 rounded-xl' />
  <span>研之有物</span>
</div>
