---
---

<span
  class='self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white inline-flex items-center gap-2'
>
  <img src='https://i.328888.xyz/2022/12/23/DDJVc.jpeg' title='研之有物' class='w-6 h-6' />
  研之有物
</span>
