---
import Layout from '@layouts/Layout.astro'
import BaseHead from '@components/BaseHead.astro'
import Sider from '@layouts/Sider.astro'
import Footer from '@components/Footer.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import Header from './Header.astro'

const links = [
  {
    text: '首页',
    href: '/',
  },
  {
    text: '标签',
    href: '/tags',
  },
  {
    text: '关于',
    href: '/about',
  },
]
---

<!DOCTYPE html>
<html lang='zh-CN'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Header links={links} isSticky showRssFeed showToggleTheme />
  <Layout title='Welcome to Astro.'>
    <!-- <Sider avatar='https://i.328888.xyz/2022/12/23/DDJVc.jpeg' /> -->
    <main>
      <div class='content'>
        <slot />
      </div>
      <Footer />
    </main>
  </Layout>

  <style>
    :root {
      --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    }

    h1 {
      margin: 2rem 0;
    }

    main {
      box-sizing: border-box;
      padding: 1rem 1rem 0 1rem;
      flex: 1;
      margin: 0 auto;
      max-width: 1200px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1;
      border-radius: 0.5rem;
      background-color: #383539;
      padding: 1rem;
      box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px -1px, rgb(0 0 0 / 6%) 0px 0px 4px -1px;
    }

    .text-gradient {
      font-weight: 900;
      background-image: var(--astro-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% 200%;
      background-position-y: 100%;
      border-radius: 0.4rem;
      animation: pulse 4s ease-in-out infinite;
    }

    @keyframes pulse {
      0%,
      100% {
        background-position-y: 0%;
      }
      50% {
        background-position-y: 80%;
      }
    }

    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      background: #4f39fa;
      padding: 1rem;
      border-radius: 0.4rem;
      color: var(--color-bg);
    }

    .instructions code {
      font-size: 0.875em;
      border: 0.1em solid var(--color-border);
      border-radius: 4px;
      padding: 0.15em 0.25em;
    }

    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  </style>
</html>
