---
import Header from '@/components/Header.astro'
import SEOTags from '@/components/seo/SEOTags.astro'
import { GTM_ID } from '@/data/config'
import type { HeadTags } from '@/utils/types/HeadTags'

import '@/styles/global.css'
import '@/styles/post.css'

export type Props = HeadTags

const headTags = Astro.props
const shouldEnableGtm = import.meta.env.PROD && GTM_ID.length > 0
---

<html lang='zh-CN'>
  <SEOTags {...headTags} />
  <body
    class='mx-auto flex min-h-screen max-w-300 flex-col gap-9 bg-dot bg-[#0d1117] px-4 md:px-10 py-4 text-base/7 text-neutral-300 md:gap-8 md:py-8'
  >
    {
      shouldEnableGtm && (
        <>
          <!-- Google Tag Manager (noscript) -->
          <noscript>
            <iframe
              src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
              height='0'
              width='0'
              style='display:none;visibility:hidden'></iframe>
          </noscript>
          <!-- End Google Tag Manager (noscript) -->
        </>
      )
    }
    <Header />
    <slot />
  </body>
</html>

<style>
  :root {
    --dot-bg-color: #0d1117;
    --dot-color: #2f353c;
    --dot-mask-color: #000000;
  }

  .bg-dot {
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      inset: 0;
      background:
        linear-gradient(90deg, var(--dot-bg-color) 22px, transparent 1%) 50%,
        linear-gradient(var(--dot-bg-color) 22px, transparent 1%) 50%,
        var(--dot-color);
      background-position: center center;
      background-size: 24px 24px;
      mask-image: linear-gradient(0deg, transparent 5%, var(--dot-mask-color));
    }
  }
</style>
