---
import Header from '../components/Header.astro'
import BlurCircle from '@/components/shared/BlurCircle.astro'
import theme from '@/data/theme'
import SEOTags from '@/components/seo/SEOTags.astro'
import type { HeadTags } from '@/utils/types/HeadTags'

import '@/styles/global.css'
import '@/styles/post.css'

export type Props = HeadTags

const headTags = Astro.props
---

<!doctype html>
<html lang="zh-CN">
<SEOTags {...headTags} />
<body
  class="mx-auto flex min-h-screen max-w-[1200px] flex-col gap-9 bg-neutral-950 px-4 md:px-10 py-8 text-base text-neutral-300 md:gap-20 md:py-16 leading-7"
>
<!-- Google Tag Manager (noscript) -->
<noscript
>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-PHSGPZQH"
    height="0"
    width="0"
    style="display:none;visibility:hidden"></iframe>
</noscript
>
<!-- End Google Tag Manager (noscript) -->
<Header />
<BlurCircle position="top" color={theme.colors.blur.top} />
<BlurCircle position="bottom" color={theme.colors.blur.bottom} />
<slot />
</body>
</html>
