---
import { EMAIL } from '../config'
export interface Props {
  avatar: string
}

const { avatar } = Astro.props as Props
---

<aside class='sider'>
  <div class='header'>
    <img class='avatar' src={avatar} alt='Avatar' />
    <p class='description'>刘浪的博客</p>
  </div>
  <div>
    <a class='nav' href='/'>首页</a>
    <a class='nav' href='/tags'>标签</a>
    <a class='nav' href='/about'>关于</a>
  </div>
  <div>
    <a href={`mailto:${EMAIL}`}>邮件</a>
  </div>
</aside>

<style>
  .sider {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 1.5rem;
    min-height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    left: 0;
    top: 0;
  }

  .header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .avatar {
    box-sizing: border-box;
    margin: 0;
    height: calc(250px - 3rem);
    width: calc(250px - 3rem);
    display: block;
  }

  .description {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: var(--theme-ui-colors-textStrong, hsl(210, 38%, 98%));
    line-height: 1.375;
    font-weight: 800;
  }

  .nav {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    transition: all 200ms ease-in-out 0s;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--theme-ui-colors-textStrong, hsl(210, 38%, 98%));
  }
</style>
